<div id="navbar">
	
	<span id="nav-logo">Riverpen</span>

	<ul id="nav-menu">
		<li class="nav-link"><%= link_to "Streamline", streams_path %></li>
		<li class="nav-link"><%= link_to "+Post", '#' %></li>
		<li class="nav-link"><%= link_to "+Stream", new_stream_path %></li>
		<li class="nav-link"><%= link_to "Profile", profiles_path %></li>
		<li class="nav-link">My Account</li>
		<li class="btn-login"><%= link_to "Log in", new_user_session_path, :id => "login-btn-navbar", :remote => "true", :data => { :toggle => "modal", :target =>"#loginModal" } %></li>
		<li class="btn-signup"><%= link_to "Sign Up!", new_user_registration_path, :id => "home-signup-btn", :remote => "true", :data => { :toggle => "modal", :target =>"#signupModal" } %></li>
	</ul>


	<div id="signupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Nevermind</button>
	        <h4 class="modal-title">Create Your Riverpen Account</h4>
	      </div>

	      <div class="modal-body">
	        <%= render "devise/modals/signup_modal" %>
	    	</div>
	    </div>
	  </div>
	</div>


	<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Nevermind</button>
	        <h4 class="modal-title">Log into Riverpen</h4>
	      </div>

	      <div class="modal-body">
	        <%= render "devise/modals/login_modal" %>
	    	</div>
	    </div>
	  </div>
	</div>

</div>