<p id="notice"><%= notice %></p>

<h3><%= @user.username %>'s Profile</h3>

<%= button_to edit_profile_path(@profile), :class => "btn btn-default btn-lg", :title => "Edit Profile", :method => :get  do %><span class='glyphicon glyphicon-edit'></span>
<% end %>

<h5>Name: </h5>
<p><%= @profile.name  %></p>
<h5>Age: </h5>
<p><%= @profile.age %></p>
<h5>Location: </h5>
<p><%= @profile.location %></p>
<h5>Website: </h5>
<p><%= @profile.website %></p>
<h5>Bio: </h5>
<p><%= @profile.bio %></p>
