<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
      <% @stream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => @user.id %>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.select(:category, options_for_select([ 
                                        ['Fandom', 'fandom'], 
                                        ['Fiction', 'fiction'],
                                        ['Hobbies', 'hobbies'],
                                        ['Personal', 'personal'],
                                        ['Professional', 'professional']
                                      ])) %>
  </div>

  <div class="field">
    <%= label :public, "Visibility" %><br />
    <%= f.radio_button :public, true %>
    <%= label_tag(:public, "Public") %>
    <%= f.radio_button :public, false %>
    <%= label_tag(:public, "Private") %>
  </div>


  

  <div class="actions buttonholder">
    <%= f.submit %>
  </div>
<% end %>
