<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
      <% @stream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= select_tag(options_for_select([ ['', 0], 
                                        ['Tech', 1],
                                        ['Personal', 2],
                                        ['Fandom', 3] 
                                      ]), 2 ) %>
  </div>

  <div class="field">
    <%= f.label :visibility %><br />
    <%# f.text_field :name, autofocus: true %>

    <%= radio_button_tag(:visibility, "Public") %>
    <%= label_tag(:public, "Public") %>
    <%= radio_button_tag(:visibility, "Private") %>
    <%= label_tag(:private, "Private") %>
  </div>

  <div class="actions buttonholder">
    <%= f.submit %>
  </div>
<% end %>
