<p id="notice"><%= notice %></p>

<div class="col-md-4">
	<div id="stream-panel">
		<div id="stream-user-title"><%= link_to "#{@user.username}", profile_path(@user), id: "stream-profile-link" %><sup>:<%= "#{@stream.category}" %></sup></div>
		<p><%= @stream.posts.count %> posts</p>
		<%= link_to "New Post", new_post_path(:stream_id => @stream.id) %><br>
		<%= link_to 'Edit Stream', edit_stream_path(@stream) %>
	</div>
</div>
<div class="col-md-2"></div>
<div class="col-md-6">
	<% @stream.posts.each do |post| %>
	  <div class="post-wrapper">
	    <h2 class="post-headline"><%= post.title %></h2>
	     <p><%= simple_format h post.content %></p><br>
	     <p><%= "Penned " + time_ago_in_words(post.created_at) + " ago" %></p>
	  
	    <%= link_to 'Show', post_path(@stream, post) %> | 
	    <%= link_to 'Edit', edit_post_path(@stream, post) %> | 
	    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
	    <div class= "post-comments-links">
	    	<div class="view-post-reply"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
	    	<div class="view-post-comments">View comments</div><br>
	    </div>
    	<!-- Refactor out into a partial -->
    	<div class="post-reply">
    		<%= form_for([post, post.comments.new], :html => {:multipart => true}) do |f| %>
				  <div class="field">
				    <%= f.label :content, 'Comment' %><br>
				    <%= f.text_area :content %>
				  </div>

				  <div class="actions">
				    <%= f.submit %>
				  </div>		  
				<% end %>
    	</div>

    	<div class="post-comments">
	    	<% if post.comments %>	
	    		<% post.comments.each do |comment| %>
	    			<%= comment.content %>
	    			<div class="comment-byline">By <%= comment.user_id %> |
	    			 	<%# time_ago_in_words(comment.created_at) + " ago" %> 
	    			</div>
	    			<hr> 
	    		<% end %>
	    	<% end %>
    	</div>
    	<br>

	    </div>
	  </div>
	<% end %>
</div>




