<p id="notice"><%= notice %></p>

<div class="col-md-2">
	<div id="stream-panel">
		<h3><%= @user.username + "'s Stream" %> </h3>
		<h4>Category <%= @stream.category if !(@stream.category == nil) %></h4>

		<%= link_to "New Post", new_stream_post_path(@stream.id) %><br>
		<%= link_to 'Edit Stream', edit_stream_path(@stream) %>
	</div>
</div>

<div class="col-md-10">
	<% @stream.posts.each do |post| %>
	  <div class="post-wrapper">
	    <h2><%= post.title %></h2>
	     <p><%= post.content %></p><br>
	     <p><%= "Posted " + time_ago_in_words(post.created_at) + " ago" %></p>
	  
	    <%= link_to 'Show', stream_post_path(@stream, post) %> | 
	    <%= link_to 'Edit', edit_stream_post_path(@stream, post) %> | 
	    <%= link_to 'Destroy', [@stream, post], method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
	  </div>
	<% end %>
</div>






