<div class="signup-modal">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, 'Your Email Address' %><br />
      <%= f.email_field :email, autofocus: true, id: 'email-signup' %>
    </div>

    <div class="field">
      <%= f.label :username, 'Pick a Username:' %><br />
      <%= f.text_field :username, id: 'username-signup' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", id: 'pw-signup' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirm Password' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions buttonholder">
      <%= f.submit "Sign up", id: 'signup-submit', class: 'signup-submit' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>