<%= form_for([@user, @user.follows.new]) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.hidden_field :blog_id, :value => @blog.id %>
    <%= f.hidden_field :blog_owner_id, :value => @blog.user_id %>
    <%= f.submit "Follow", class: "follow-blog" %>
  </div>
<% end %>