<%= tinymce_assets %>

<h4> Select a blog: </h4>
<% unless user_blog_options == nil %>
  <%= form_for Post.new, as: @post, url: {controller: "posts", action: "create"}, html: {class: "blogless-post-form"} do |f| %>

  <%= f.select(:blog_id, user_blog_options) %>
  <hr> 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 60 %>
  </div>
<br><br><br><br><br><br><br><br><br>
  <div class="field">
    <%= f.label "Save and Publish Now" %>
    <%= f.check_box :published %>
  </div>

  <%= tinymce %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>

<% else %>

  <%= link_to "Create a Blog First!", new_blog_path %> 

<% end %>
