<script>
  // Prevent bootstrap dialog from blocking focusin
  $(document).on('focusin', function(e) {
      if ($(e.target).closest(".mce-window").length) {
          e.stopImmediatePropagation();
      }
  });
</script>
<%= tinymce_assets %>

<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
   <%= f.text_area :content, :class => "tinymce", :rows => 10, :cols => 120 %>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="field">
    <%= f.label "Save and Publish Now" %>
    <%= f.check_box :published %>
  </div>
    <%= tinymce %>
    <%= f.hidden_field :stream_id, :value => @stream.id %>
    <%= f.hidden_field :user_id, :value => @user.id %>

  <div class="actions">
    <!-- Hack code to be replaced with pretty CSS in a bit. -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%= f.submit %>
  </div>
<% end %>
