<%= tinymce_assets %>

<h4> Select a stream: </h4>
<% unless user_stream_options == nil %>
  <%= form_for Post.new, as: @post, url: {controller: "posts", action: "streamless_create"}, html: {class: "streamless-post-form"} do |f| %>

  <%= f.select(:stream_id, user_stream_options) %>
  <hr> 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 60 %>
  </div>

  <%= tinymce %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>

<% else %>

  <%= link_to "Create a Stream First!", new_stream_path %> 

<% end %>
