<p id="notice"><%= notice %></p>

<h3><%= @post.title if !@post.title.nil? %></h3>

<p><%= @post.content %></p>

<%= link_to 'Edit', edit_stream_post_path(@stream, @post) %> |
<%= link_to 'Back', stream_path(@stream) %>
